/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --color-lighter: hsl(80, 10%, 90%);
    --color-light: hsl(80, 10%, 80%);
    --color-dark: hsl(360, 10%, 10%);
    --color-dark-transparent: hsla(360, 10%, 10%, 0.2);

    --step--1: clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.24rem + 0.55vw), 1.67rem);
    --step-2: clamp(1.62rem, calc(1.41rem + 1.05vw), 2.22rem);

    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
    --space-s-m: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
    --space-m-l: clamp(1.69rem, calc(1.4rem + 1.41vw), 2.5rem);
    --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);

    --space-2xl-3xl: clamp(4.5rem, calc(3.46rem + 5.22vw), 7.5rem);

    --space-4xl-5xl: 25rem;
}

body {
    overflow: hidden;
    background-color: var(--color-light);
    color: var(--color-dark);
    font-family: sans-serif;
    font-size: var(--step-0);
}

h1 {
    font-size: var(--step-2);
    text-transform: uppercase;
    font-weight: 700;
    max-width: 20ch;
}

/* göm audio, används för att preloada ljudet */
audio {
    display: none;
}

@media (max-width: 30rem) {
    .lead {
        display: none;
    }

    .hero>picture {
        max-height: 15vh;
    }
}

.game {
    margin: 0;
}

/* flex och space between ordnar layouten för speldata och knappen på desktop */
.game-hud {
    display: flex;
    justify-content: space-between;
}

.game-currency {
    margin-top: calc(50vh - var(--space-4xl-5xl)/2 - 7rem);
    text-align: center;
    margin-inline: auto;
    padding: 0;
}

#moneyText {
    font-size: 3rem;
    margin: 0;
}

#mpsText {
    font-size: 1.5rem;
    margin: 0;
}

/* game-currency är en lista med list items */
.item>h3 {
    display: flex;
    justify-content: space-between;
    gap: var(--space-xs-s);
}

/* för spelelementet används #id som selektor för att skapa css reglerna */
#game-button {
    width: var(--space-4xl-5xl);
    height: var(--space-4xl-5xl);
    font-size: var(--step-2);
    border-radius: 50%;
    border: 5px solid transparent;
    border-color: #000000;
    color: var(--color-light);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    background-color: #ffffff;
}

#game-button:hover {
    border: 7px solid transparent;
    border-color: #000000;
}

.sizeChangeButton{
    animation: sizeChangeButton 0.5s !important;
}

.sizeChange{
    animation: sizeChange 0.5s !important;
}

@keyframes sizeChangeButton {
    0% {
        width: calc(1 * var(--space-4xl-5xl));
        height: calc(1 * var(--space-4xl-5xl));
    }

    40% {
        width: calc(0.96 * var(--space-4xl-5xl));
        height: calc(0.96 * var(--space-4xl-5xl));
    }

    90% {
        width: calc(1.01 * var(--space-4xl-5xl));
        height: calc(1.01 * var(--space-4xl-5xl));
    }

    100% {
        width: calc(1 * var(--space-4xl-5xl));
        height: calc(1 * var(--space-4xl-5xl));
    }
}

@keyframes sizeChange {
    0% {
        width: calc(1 * var(--space-4xl-5xl));
        height: calc(1 * var(--space-4xl-5xl));
        margin-bottom: calc(50vh - calc(1 * var(--space-4xl-5xl))/2);
        margin-left: calc(33.5vw - calc(1 * var(--space-4xl-5xl))/2);
    }

    40% {
        width: calc(0.96 * var(--space-4xl-5xl));
        height: calc(0.96 * var(--space-4xl-5xl));
        margin-bottom: calc(50vh - calc(0.96 * var(--space-4xl-5xl))/2);
        margin-left: calc(33.5vw - calc(0.96 * var(--space-4xl-5xl))/2);
    }

    90% {
        width: calc(1.01 * var(--space-4xl-5xl));
        height: calc(1.01 * var(--space-4xl-5xl));
        margin-bottom: calc(50vh - calc(1.01 * var(--space-4xl-5xl))/2);
        margin-left: calc(33.5vw - calc(1.01 * var(--space-4xl-5xl))/2);
    }

    100% {
        width: calc(1 * var(--space-4xl-5xl));
        height: calc(1 * var(--space-4xl-5xl));
        margin-bottom: calc(50vh - calc(1 * var(--space-4xl-5xl))/2);
        margin-left: calc(33.5vw - calc(1 * var(--space-4xl-5xl))/2);
    }
}

/* #msgbox är elementet som visar sidans toasts, popupmeddelanden
* fixed fungerar liknande absolute för att positionera element på ett fast ställe
* vi använder måttet vmin som skalas efter webbläsarens storlek
*/
#msgbox {
    position: fixed;
    left: 2vmin;
    bottom: 2vmin;
    min-width: 16rem;
}

#msgbox>p {
    margin-bottom: var(--space-xs-s);
    padding: var(--space-xs-s);
}

/* de här klasserna används för att bestämma stilen på de olika storternas
 * meddelanden. Javascript används för att lägga till stilen på meddelandet
 */
.warning {
    background-color: palevioletred;
}

.success {
    background-color: mediumspringgreen;
}

.achievement {
    color: var(--color-light);
    background-color: rebeccapurple;
}

/* dessa kort används för spelets uppgraderingar 
 * lägg märke till padding och margin för att ge elementen lite luft och 
 * skapa en mer lättläst struktur
 */
.card {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border: 2.5px solid #000000;
    border-inline: 5px solid #000000;
    padding: var(--space-s-m);
}

.card:hover {
    background-color: var(--color-lighter);
}

.card p:not(.title) {
    text-align: end;
}

/* klassen används på kortets titel, font-weight: 600 gör fonten fetare, en normal
 * font vikt är oftast 400
 */
.title {
    font-weight: 600;
}

/* animation och klass för att blinka texten */

@keyframes flash {
    0% {
        color: var(--color-dark);
    }

    50% {
        color: var(--color-dark-transparent);
    }

    100% {
        color: var(--color-dark);
    }
}

.active {
    animation: flash 1s;
}

.boughtSuccess{
    background-color: mediumspringgreen;
}

.boughtSuccess:hover{
    background-color: mediumspringgreen;
}

.boughtFail{
    background-color: palevioletred;
}

.boughtFail:hover{
    background-color: palevioletred;
}

.container {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: inline-block;
}

.buttonBackground {
    margin: 0;
    width: 67vw;
    height: 100vh;
    background-color: #ffffff;
    float: left;
}

.upgradeBackground {
    overflow: auto;
    margin: 0;
    height: 100vh;
    background-color: #ffffff;
}

.game-controls {
    width: var(--space-4xl-5xl);
    height: var(--space-4xl-5xl);
    position: absolute;
    border-radius: 50%;
    bottom: 0px;
    margin-bottom: calc(50vh - var(--space-4xl-5xl)/2);
    margin-left: calc(33.5vw - var(--space-4xl-5xl)/2);
}